/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 24, 2016, 7:28:37 AM
    Author     : awal
*/

/* * * * G E N E R AL * * * */ 
/*html, body { height: 100%; width: 100%; margin: 0; padding: 0; }
      #map{ margin: 0; padding: 0}

      /* center the image in the popup *
      .esriViewPopup .gallery { margin: 0 auto !important; }
      .container { float: right;}*/
body {  
  font-family: "Century Gothic",sans-serif;
  color: #badafa;
}

.container {
  margin-top: 100px;
  margin-left: 160px;
}

.scrollable-menu {
  height: auto;
  max-height: 50vh;
  overflow-x: hidden;
}

.refresh-btn {
  color: green;
}

.download-btn {
  color: blue;
}

span.close-btn {
  cursor: pointer;
  color: red;
  position: absolute;
  z-index: 10;
}

.row>div>div {
  width: 570px;
  margin-bottom: 10px;
}
.row>div>div>div.content-dashboard  {
  background-color: #26303a;  
  height: 230px;
}
.row>div>div>div.title-dashboard {
  background-color: #16202a;
  height: 40px;
  text-align: center;
  padding: 8px;
}
.row>div>div>div.title-dashboard>span {
  font-size: 20px;
}
.row>div>div>div.title-dashboard>img, .row>div>div>div.title-dashboard>div>img {
  width: 25px;
  height: 25px;
}
.row>div>div>div.title-dashboard>img:hover, .row>div>div>div.title-dashboard>div>img:hover {  
  cursor: pointer;
  transform: translate(2px,2px);
}
.row>div>div>div.title-dashboard>img:first-child {
  float: left;
}
.row>div>div>div.title-dashboard>img:last-child, .row>div>div>div.title-dashboard>div>img {
  float: right;
}
.row>div>div>div.title-dashboard>div.dropdown {
  display: inline;
  float: right;
}
.row>div>div>div.title-dashboard>div.dropdown>ul {
  background-color: #26303a;
  opacity: 0.9;
}
.row>div>div>div.title-dashboard>div.dropdown>ul>li>a>img {
  width: 35px;
  height: 35px;  
}

/* * * * * * * * * * * * * * * * * */

/* * * * F I L T E R * * * */
div#filter {
  position: absolute;
  top: 70px;
  left: 180px;
  font-size: 14px;
  display: inline;
  width: 100%;
}
div#filter>div {
  margin-right: 20px;
  float: left;
}
div#filter>div>span {
  border: #ff4422 solid 1px;
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
}
div#filter>div>span>span {
  color: #229999;
}
div#filter>div>ul {
  background-color: #26303a;
  border: #ff4422 solid 1px;
  padding: 5px;
  opacity: 0.9;
}
div#filter>div>ul>li:hover {
  cursor: pointer;
  background-color: #229999;
}

/* * * * * * * * * * * * * * * * * */

/* * * * M A P * * * */
div#map {
  background-color: rgb(182,199,214);
  opacity: 0.8;
}
div#map-title>div.dropdown>ul>li:nth-child(1)>a>span, div#map-title>div.dropdown>ul>li:nth-child(5)>a>span {
  color: #666666;
}
div#map-title>div.dropdown>ul>li:nth-child(2)>a>span {
  color: green;
}
div#map-title>div.dropdown>ul>li:nth-child(3)>a>span {
  color: orange;
}
div#map-title>div.dropdown>ul>li:nth-child(4)>a>span {
  color: red;
}

/* * * * * * * * * * * * * * * * * */

/* * * * G A U G E * * * */
div#gauge>svg>g>g:hover {
  cursor: pointer;
}
div#gauge>img {
  position: absolute;
  margin: 10px;
}
div#gauge>img#img-fifgroup {
  width: 190px;
  height: 190px;
}
div#gauge>img#img-area {
  width: 160px;
  height: 160px;
  top: 60px;
  left: 240px;
}
div#gauge>img#img-branch {
  width: 130px;
  height: 130px;
  top: 75px;
  left: 430px;
}
div#gauge>svg {
  height: 210px;
  width: 570px;
  font-size: 12px;
  transform: translate(13px,18px);
}
div#gauge>svg>g>g>g>text {
  font-size: 14px;
  fill: white;
}
div#gauge>img#needle-fifgroup, div#gauge>img#needle-area, div#gauge>img#needle-branch {
  margin: 0;
  transform-origin: 50% 30%;
}
div#gauge>img#needle-fifgroup {
  height: 55px;
  width: 15px;  
  left: 113px;
  top: 126px;
}
div#gauge>img#needle-area {
  height: 44px;
  width: 12px;  
  left: 325px;
  top: 136px;
}
div#gauge>img#needle-branch {
  height: 33px;
  width: 9px;  
  left: 501px;
  top: 139px;
}

div#gauge-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -300px;
  margin-top: -200px;
  padding: 25px;
  background-color: #001018;
  opacity: 0.7;
  display: none;
  border: #11aa77 solid 2px;
  z-index: 15;  
}
div#gauge-detail>div#kci-detail {
  width: 600px;
  height: 350px;
  overflow-y: auto;
}
div#gauge-detail>div#kci-parent {
  text-align: center;
}
div#gauge-detail>span.close-btn {
  right: 0;
  transform: scale(2) translate(-25%,25%);
}
div#gauge-detail>div>table>tbody>tr>td, div#gauge-detail>div>span {
  padding: 5px;
  font-size: 20px;
  font-weight: bold;
}

/* * * * * * * * * * * * * * * * * */

/* * * * P A R A M E T E R * * * */
div#parameter {
   overflow-y: scroll;
   font-size: 16px;
}
div#parameter>ul {
  margin-left: 5px;
}
div#parameter>ul>li {
  margin-top: 10px;
}
div#parameter>ul>li>div {
  color: white;
}
div#parameter>ul>li>div:not(.no-param-value):not(#param-p3):hover,
div#parameter>ul>li>span:not(.no-param-value):hover {
  cursor: pointer;
  text-decoration: underline;
}
div#parameter .display-no-param-value {
  display: block;
}
div#parameter .hidden-no-param-value {
  display: none;
}

div#parameter-detail {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -225px;
  padding: 25px;
  padding-top: 35px;
  background-color: #001018;
  opacity: 0.7;
  display: none;
  border: #11aa77 solid 2px;
  z-index: 10;  
}
div#parameter-detail>span.close-btn {
  right: 0;
  transform: scale(2) translate(-25%,25%);
}
div#parameter-detail>div#print-file {
  position: absolute;
  transform: translate(-40%,-120%);
}
div#parameter-detail>div#print-file>img {
  cursor: pointer;
  height: 25px;
  width: 25px;
}
div#parameter-detail>div#kci-table {
  width: 800px;
  height: 450px;  
}
div#parameter-detail>div#kci-table>div:not(#pagination) {
  overflow-x: auto;
}
div#parameter-detail>div#kci-table>div>table>thead>tr>th {
  text-align: center;
  white-space: nowrap;
  background-color: #3f7fbf;
}
div#parameter-detail>div#kci-table>div>table>tbody>tr>td {
  white-space: nowrap;
}
div#parameter-detail>div#kci-table>div>table>tbody>tr>td,
div#parameter-detail>div#kci-table>div>table>thead>tr>th {
  border-color: lightskyblue;
}

/* * * * * * * * * * * * * * * * * */

/* * * * C H A R T * * * */
div#chart-trend .nvd3 text {
  font-family: "Century Gothic",sans-serif;
  fill: #fafafa;
}
div#chart-trend>svg {
  display: block;
}
div#chart-trend, div#chart-trend>svg {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%;
}
div#chart-trend .nv-axis.nv-x .tick line {
  display:none;
}
div#chart-trend .nvd3 .nv-legend .nv-series {
  cursor: default;
}
div#chart-trend .nvd3 .nv-legend .nv-series:nth-child(1),
div#chart-trend .nvd3 .nv-legend .nv-series:nth-child(2) {
  display: none;
}

/* * * * * * * * * * * * * * * * * */

/* * * * R U N N I N G   T E X T * * * */

div#div-running-text {
  position: absolute;
  width: 1000px;
  overflow: hidden;
  left: 180px;
  top: 0px;
}
.running-text {
  float: left;
  opacity: 0;
  animation-name: running-text; /* Standard syntax */
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  -webkit-animation-name: running-text; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
}
.running-text-2 {
  position: absolute;
  opacity: 0;
  animation-name: running-text; /* Standard syntax */
  animation-duration: 80s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-delay: 40s;
  -webkit-animation-name: running-text; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 80s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-play-state: running;
  -webkit-animation-delay: 40s;
}
div#div-running-text table tr {
  height: 6px;
}
div#div-running-text table tr td {
  white-space: nowrap;
}  
div#div-running-text table tr td.run-txt-name {
  font-size: 24px;
  font-weight: bolder;
}
div#div-running-text table tr td.run-txt-val {
  font-size: 10px;
  text-decoration: underline;
  transform: translate(0px,4px);
}
div#div-running-text table tr.run-txt-dev-val>td {
  font-size: 10px;
  transform: translate(0px,-3px);
}
@keyframes running-text {/* Standard syntax */
  0% {transform: translateX(-100%); opacity: 1;}
  100% {transform: translateX(100%); opacity: 1;}
}
@-webkit-keyframes running-text {/* Chrome, Safari, Opera */
  0% {-webkit-transform: translateX(-100%); opacity: 1;}
  100% {-webkit-transform: translateX(100%); opacity: 1;}
}

/* * * * * * * * * * * * * * * * * */

/* * * * O T H E R S * * * */

div#custom-zoom-btn {
  position: absolute;
  left: 15px;
  bottom: 10px;
  z-index: 5;
}