/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2016, 7:36:51 PM
    Author     : awal
*/

body {
  background-color: #001018;
  font-family: "Century Gothic",sans-serif;
  color: #fafafa;
}

.container {
  margin-top: 56px;
}

.title {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 20px;
  margin: 0;
  padding: 0;
  z-index: 10;
  /*font-family: Helvetica,sans-serif,Tahoma,monospace,cursive;
  font-size: 30px;
  font-weight: bolder;
  color: white;
  text-shadow: black 0px 2px 3px;
  background: linear-gradient(#026 60%,#fff 90%);
  z-index: 1100;*/
  /*overflow-y: hidden;*/
}
.title>img {
  width: 170px;
  height: 101.89px;
  margin: 0;
  padding: 0;
}
.title>div.right-info {
  float: right;
  font-size: 15px;
  text-align: right;
}
.title>div.right-info>a>img {
  width: 69px;
  height: 63.5px;
  margin-top: 10px;
}
.title>div.right-info>span#uid {
  display: none;
}

div#user-menu {
  float: left;
  margin: 10px;
  display: none;
}
div#user-menu>div.dropdown>ul {
  background-color: #26303a;
  border: #ff4422 solid 1px;
  padding: 5px;
  opacity: 0.9;
}
div#user-menu>div.dropdown>ul>li>a {
  color: #fafafa;  
}
div#user-menu>div.dropdown>ul>li>a:hover {
  background-color: #229999;
}
div#user-menu>div.dropdown>ul>li#home-btn {
  display: none;
}

#backImage {
  position: fixed;
  top: -40%;
  z-index: -1;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0.05;
}
#backImage img {
  margin: 0 auto;
  width: 1164px;
  height: 1372px;
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 15px;
  }
}