/* 
    Document   : login
    Created on : Jun 23, 2015, 11:18:08 AM
    Author     : awal
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

.login-form-style {
  margin-top: 100px;
  max-width: 350px;
  background-color: #26303a;
  /*box-shadow: #888 0px 0px 10px 10px;*/
  border: #badafa solid 2px;
  text-align: center;
  color: #badafa;
}
.login-form-style img {
  width: 115.5px;
  height: 145px;
  /*border-radius: 80px;*/
  margin: 15px;
}
.login-form-style form {
  margin: 15px;
}
.error-login {
  color: red;
  font-weight: bold;
}