/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 12, 2016, 9:45:41 AM
    Author     : awal
*/

/* * * * C O M M O N * * * */


/* * * * * * * * * * * * * * * * * */

/* * * * M O D A L   R E P O R T * * * */

div#mdl-kci-report .modal-dialog {
  margin-top: 100px;
}
div#mdl-kci-report>div>div.modal-content {
  background-color: rgba(0,16,24,0.9);
  font-size: 17px;
}
div#mdl-kci-report>div>div.modal-content>div.modal-header>h3 {
  text-align: center;
}
div#mdl-kci-report>div>div.modal-content>div.modal-header>button.close {
  color: red;
  opacity: 0.6;
}
div#mdl-kci-report>div>div.modal-content>div.modal-header>button.close:hover {
  opacity: 1;
  transform: scale(1.5);
}
div#mdl-kci-report>div>div.modal-content>div.modal-header>h3>img {
  width: 25.95px;
  height: 35px;
  float: left;
}
div#mdl-kci-report>div>div>div.modal-body>table>tbody>tr>td {
  width: 220px;
  height: 50px;
}
div#mdl-kci-report>div>div>div.modal-body>table>tbody>tr:nth-child(3) {
  display: none;
}
div#mdl-kci-report>div>div.modal-content>div.modal-footer {
  text-align: center;
}
div#mdl-kci-report>div>div.modal-content>div.modal-footer>button {
  width: 100px;
  font-size: 17px;
}
div#mdl-kci-report>div>div>div.modal-body>table>tbody>tr>td>div>span {
  border: #ff4422 solid 1px;
  padding: 5px;
  padding-left: 10px;
  cursor: pointer;
}
div#mdl-kci-report>div>div>div.modal-body>table>tbody>tr>td>div>span>span {
  color: #229999;
}
div#mdl-kci-report>div>div>div.modal-body>table>tbody>tr>td>div>ul {
  background-color: #26303a;
  border: #ff4422 solid 1px;
  padding: 5px;
  opacity: 0.9;
}
div#mdl-kci-report>div>div>div.modal-body>table>tbody>tr>td>div>ul>li:hover {
  cursor: pointer;
  background-color: #229999;
}

/* * * * * * * * * * * * * * * * * */

/* * * * M O D A L   O R G   C H A R T * * * */

div#mdl-org-chart div#org-chart-diag {
  overflow: auto;  
}
div#mdl-org-chart .modal-content {
  background-color: rgba(0,16,24,0.9);
}
div#mdl-org-chart>div>div.modal-content>div.modal-header>h3>img {
  width: 41.75px;
  height: 35px;
  float: left;
}
div#mdl-org-chart>div>div.modal-content>div.modal-header>h3 {
  text-align: center;
}
div#mdl-org-chart>div>div.modal-content>div.modal-header>button.close {
  color: red;
  opacity: 0.6;
}
div#mdl-org-chart>div>div.modal-content>div.modal-header>button.close:hover {
  opacity: 1;
  transform: scale(1.5);
}

div#mdl-cpts-org>div>div.modal-content {
  background-color: rgba(0,16,24,0.9);
}
div#mdl-cpts-org>div>div.modal-content>div.modal-header>h3 {
  text-align: center;
}
div#mdl-cpts-org>div>div.modal-content>div.modal-header>button.close {
  color: red;
  opacity: 0.6;
}
div#mdl-cpts-org>div>div.modal-content>div.modal-header>button.close:hover {
  opacity: 1;
  transform: scale(1.5);
}
div#mdl-cpts-org>div>div.modal-content>div.modal-header>h3>img {
  width: 41.77px;
  height: 35px;
  float: left;
}
div#mdl-cpts-org div#table-cpts-org {
  overflow-x: auto;
}
div#mdl-cpts-org div#table-cpts-org>table th {
  background-color: rgba(30,66,104,0.9);
  white-space: nowrap;
  text-align: center;
}
div#mdl-cpts-org div#table-cpts-org>table td {
  white-space: nowrap;
  text-align: center;
}
div#mdl-cpts-org .table-hover tbody tr:hover td {
  color: rgb(0,16,24); 
}
div#mdl-cpts-org .modal-body>div {
  margin-bottom: 10px;
}

/* * * * * * * * * * * * * * * * * */

/* * * * M O D A L   C P T S * * * */

div#mdl-cpts>div>div.modal-content {
  background-color: rgba(0,16,24,0.9);
}
div#mdl-cpts>div>div.modal-content>div.modal-header>h3 {
  text-align: center;
}
div#mdl-cpts>div>div.modal-content>div.modal-header>button.close {
  color: red;
  opacity: 0.6;
}
div#mdl-cpts>div>div.modal-content>div.modal-header>button.close:hover {
  opacity: 1;
  transform: scale(1.5);
}
div#mdl-cpts>div>div.modal-content>div.modal-header>h3>img {
  width: 35px;
  height: 35px;
  float: left;
}
div#mdl-cpts div#table-cpts {
  overflow-x: auto;
}
div#mdl-cpts div#table-cpts>table th {
  background-color: rgba(30,66,104,0.9);
  white-space: nowrap;
  text-align: center;
}
div#mdl-cpts div#table-cpts>table td {
  white-space: nowrap;
  text-align: center;
}
div#mdl-cpts .table-hover tbody tr:hover td {
  color: rgb(0,16,24); 
}
div#mdl-cpts .modal-body>div {
  margin-bottom: 10px;
}
div#mdl-cpts .modal-body>div>img {
  width: 37px;
  height: 37px;
}
div#mdl-cpts .modal-body>div>img:hover {
  cursor: pointer;
  transform: scale(1.5);
}
div#mdl-cpts .modal-body>div>input {
  width: 200px;
}

/* * * * * * * * * * * * * * * * * */

/* * * * M O D A L   H E L P * * * */

div#mdl-help>div>div.modal-content {
  background-color: rgba(0,16,24,0.9);
  font-size: 17px;
}
div#mdl-help>div>div.modal-content>div.modal-header>h3 {
  text-align: center;
}
div#mdl-help>div>div.modal-content>div.modal-header>button.close {
  color: red;
  opacity: 0.6;
}
div#mdl-help>div>div.modal-content>div.modal-header>button.close:hover {
  opacity: 1;
  transform: scale(1.5);
}
div#mdl-help>div>div.modal-content>div.modal-header>h3>img {
  width: 35px;
  height: 35px;
  float: left;
}