/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 10, 2016, 7:08:42 PM
    Author     : awal
*/

.welcome-message {
  position: relative;
  top: 100px;
  width: 60%;
  height: 500px;
  margin: auto;
  text-align: center;
  color: #badafa;
  border: #badafa solid 2px;
  border-radius: 10px;
  /*background-color: #26303a;*/
}
.welcome-message>h1 {
  padding-top: 50px;
  margin: 0;
}
.welcome-message .hr-top {
  border-color: #badafa;
  border-width: 5px;
}
.welcome-message .hr-down {
  border-color: #badafa;
  border-width: 2px;
}